<div>
  <h2 class="page-header">Krapula</h2>
  <form (submit)="onKrapulaSubmit()" >
    <div class="form-group">
      <label for="name">olo1</label>
      <input type="text" [(ngModel)]="olo1" name="olo1" class="form-control" id="olo1" placeholder="Enter vointi 1">
    </div>
    <div class="form-group">
      <label for="name">olo2</label>
      <input type="text" [(ngModel)]="olo2" name="olo2" class="form-control" id="olo2" placeholder="Enter vointi 1">
    </div>
    <div class="form-group">
      <label for="name">olo3</label>
      <input type="text" [(ngModel)]="olo3" name="olo3" class="form-control" id="olo3" placeholder="Enter vointi 1">
    </div>
    <div class="form-group">
      <label for="name">olo4</label>
      <input type="text" [(ngModel)]="olo4" name="olo4" class="form-control" id="olo4" placeholder="Enter vointi 1">
    </div>
    <div class="form-group">
      <label for="name">olo5</label>
      <input type="text" [(ngModel)]="olo5" name="olo5" class="form-control" id="olo5" placeholder="Enter vointi 1">
    </div>
    <div class="form-group">
      <label for="name">olo6</label>
      <input type="text" [(ngModel)]="olo6" name="olo6" class="form-control" id="olo6" placeholder="Enter vointi 1">
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
  </form>
  </div>